html, body{
    background-color: darkslategray;
    color: whitesmoke;
    font-family: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
    /* font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"; */
}
.app-container{
    width: 100%;
    height: 100%;
}
.starter-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.starter-card{
    text-align: center;
    display: block;
    margin: auto;
    width: 50%;
    border: 2px solid darkgoldenrod;
	border-radius: 5px;
    padding: 30px;
    top: 50%;
    left: 50%;
    position: absolute;
    transform: translate(-50%, -50%);
}
.btn{
  padding: 20px 20px;
  background-color: transparent;
  color: white;
  border: 1px solid rgb(184, 158, 11);
  border-radius: 20px;
  cursor: pointer;
  font-size: 16px;
  font-weight: bold;
  margin-top: 10px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.btn:hover{
    background-color: darkgoldenrod;
}
.btn:focus{
    outline: 0;
}
.modal {
    display: none; /* Hidden by default */
    position: absolute; /* Stay in place */
    z-index: 1; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: scroll;/* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
  }
  .modal-content {
    position: relative;
    background-color: #edf0f5;
    margin: auto;
    padding: 0;
    border: 1px solid #888;
    width: 50%;
    color: black;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
  }
  @-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
  }
  
  @keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
  }
  .close {
    color: black;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  .close:hover,
  .close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
  }
  .modal-header {
    padding: 2px 16px;
    background-color: darkgoldenrod; 
    color: #F9F871;
    text-align: center;
  }
  
  .modal-body {padding: 2px 16px;}
  
  .modal-footer {
    padding: 2px 16px;
    background-color: #5cb85c;
    color: white;
  }
  .disabled{
      pointer-events: none;
  }
  .show{
      display: block;
  }
  .remove{
      display: none;
  }
  .option{
    border: 1px solid #d2d7df;
    background-color: #d2d7df;
    border-radius: 10px;
    margin: 10px;
    padding: 5px;
    font-size: 1.2rem;
    cursor: pointer;
    /* box-shadow: 0 0.25rem 0.25rem rgba(0, 0, 0, 0.075) */
  }
  .modal-body .btn{
      background-color: rgb(240, 174, 9);
      border: 1px solid rgb(240, 174, 9);
      border-radius: 20px;
      margin-bottom: 20px;
      font-size: 1rem;
      padding: 15px 10px;
      font-weight: normal;
      box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15)
  }
  .modal-body .btn:hover{
      background-color: rgb(235, 187, 65);     
      border-color: rgb(235, 187, 65);     
  }
  .modal-body h3{
      margin-top: 0px;
  }
  .correct{
      background-color: green;
      color: white;
  }
  .wrong{
    background-color: red;
    color: white;
}
.score-container{
    padding: 10px;
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    font-size: 1.2rem;
    color: rgba(236, 175, 20, 0.945);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.button{
    text-align: right;
}
.new-quiz{
    text-align: center;
}
.final-score{
    color: darkgoldenrod;
}
.container-end{
    text-align: center;
}
.error-message{
    position: relative;
    padding: 0.75rem 1.25rem;
    margin-bottom: 1rem;
    border: 1px solid transparent;
    border-radius: 0.25rem;
    text-align: center;
    color: #721c24;
    background-color: #f8d7da;
    border-color: #f5c6cb;
    border-top-color: #f1b0b7
}
.questions{
    text-align: center;
    color: grey;
    padding: 10px;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    background-color: white;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 20px;
    margin-top: 50px;
}
#questions-answered{
    border: 1px solid white;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 10px;
}
.user-score{
    border: 1px solid white;
    background-color: white;
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
    border-radius: 15px;
    padding: 10px;
}
@media(max-width:575px){
    .modal-content{
        width: 80%;
    }
    .btn{
        width: 100%;
    }
    .starter-card{
        width: 75%;
    }
    .score-container{
        font-size: 0.7rem;
    }
}